  <% var local="http://localhost:5000/"
  
  const token = typeof cookie_user != "undefined" ? cookie_user : "";
  %> 
    <style>
        a{
           text-decoration: none;
        }
    </style>

<section class="top-header">
    <div class="flex-top-header">
            <div class="box1 genaral"><img src="<%- local %>img_default/logo-e1592989828631.png" alt=""></div>
            <div class="box2 genaral"> <i class="far fa-clock"></i> OPENNING HOURS 11.30AM – 2.30PM</div>
            <ul class="box3 genaral" style="margin: 0;">
                    <li><a href="/#/home">home</a></li>
                    <li><a href="/#/detail_cart">cart</a></li>
                    <li><a href="/#/contact">contact</a></li>
                    <li class="menu_home11"><a href="#">menu</a><i class="fas fa-angle-down"></i>
                        <div class="menu-home"> 
                          
                            <div class="category">
                              
                               <div class="parent_1">
                                <div class="row">
                                    <header>home site</header>
                                    <ul class="link_row">
                                        <li>
                                            <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                            <h2>cafe americano ... <span>$9</span><span>$9</span>
                                                <label class="font_size_text">the content it under</label></h2>
                                        </li>
                                        <li>
                                            <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                            <h2>cafe americano ... <span>$9</span><span>$9</span>
                                                <label class="font_size_text">the content it under</label></h2>
                                        </li>
                                        <li>
                                            <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                            <h2>cafe americano ... <span>$9</span><span>$9</span>
                                                <label class="font_size_text">the content it under</label></h2>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <header>home site</header>
                                    <ul class="link_row">
                                      <li>
                                        <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                        <h2>cafe americano ... <span>$9</span><span>$9</span>
                                            <label class="font_size_text">the content it under</label></h2>
                                    </li>
                                    <li>
                                        <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                        <h2>cafe americano ... <span>$9</span><span>$9</span>
                                            <label class="font_size_text">the content it under</label></h2>
                                    </li>
                                    <li>
                                        <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                        <h2>cafe americano ... <span>$9</span><span>$9</span>
                                            <label class="font_size_text">the content it under</label></h2>
                                    </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <header>home site</header>
                                    <ul class="link_row">
                                      <li>
                                        <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                        <h2>cafe americano ... <span>$9</span><span>$9</span>
                                            <label class="font_size_text">the content it under</label></h2>
                                    </li>
                                    <li>
                                        <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                        <h2>cafe americano ... <span>$9</span><span>$9</span>
                                            <label class="font_size_text">the content it under</label></h2>
                                    </li>
                                    <li>
                                        <img src="<%= local %>img_default/58db701349cb48738069e8c912e2b3ac_result-150x150.jpg" alt="">
                                        <h2>cafe americano ... <span>$9</span><span>$9</span>
                                            <label class="font_size_text">the content it under</label></h2>
                                    </li>
                                    </ul>
                                </div>
                                    
                               </div>
                                
                            </div>
                           
                        </div> 
                    </li>
            </ul>
            <div class="box4 genaral">
                <div href="#" id="parent_account"><i class="fas fa-user-circle"></i>
                        <ul class="acount_for_user" style="padding: 0;">
                               
                             

                                <% if(token){ %> 
                                    <li><a href="/user/signOut" onclick="signOut();" >Sign Out</a></li>
                                    <li><a href="/user/Account/<%- token %> ">Edit Account</a></li>
                                    <li><a href="/#/admin_product">Admin</a></li>
                                    <% }else{ %> 
                                        <li><a href="/user/sign_in">Sign In</a></li>
                                        <li><a href="/user/sign_up">Sign Up</a></li>
                                        <% } %> 
                                
                        </ul>
                </div>
                <div  id="count_bill"><i class="fas fa-shopping-cart"></i>
                    <div class="count_Value">0</div>
                    <div class="cart">
                        <div class="name_cart">CART</div>
                           <div class="list_cart">
                      
                                <!-- <div class="product_cart">
                                    <img src="../../img/jonathan-borba-5G9uIkAXLSc-unsplash.jpg" alt="">
                                    <div> <span>name</span> <br> 
                                        <span>$1000</span> <br> 
                                        <button>remove</button>
                                    </div>
                                    <div style="margin-left: auto; margin-right: 0;">
                                        <div> <span><i class="fas fa-angle-up"></i></span> <br> 
                                            <span style="padding-left: 2.5px;">2</span> <br> 
                                            <span><i class="fas fa-angle-down"></i></span>
                                        </div>
                                    </div>
                                </div> -->
                             
                           </div>
                           <div class="total" style="text-align: center; margin: 0;">
                                <div><span>your total:$</span> <span id="total_price">0</span> </div>
                                <!-- <button class="clear_cart">clear cart</button> -->
                                <a href="/#/detail_cart">detail cart</a>
                           </div>
                    </div>
                </div>
                
               <a href="#"> <i class="fab fa-instagram-square"></i></a>
               
                <div class="searching_form"><i class="fas fa-search"></i></div>
            </div>
    </div>
</section>

<script>
function signOut() {
    // console.log("xinchas")
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
