<div style="max-width: 570px; margin: 0 auto;">
    <form action="/user/sign_up?_method=POST"  method="POST" enctype="multipart/form-data"  >
        
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" name="userName" placeholder="name@example.com" required >
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating" style="margin-top: 10px;">
          <input type="password" class="form-control"  id="floatingPassword" name="passWord" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating" style="margin-top: 10px;">
            <input type="password" class="form-control"  id="floatingPassword" name="confirmPassWord" placeholder="Password" required>
            <label for="floatingPassword">Confirm password</label>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Avatar</label>
            <input class="form-control" type="file" id="formFile" name="image">
          </div>
      
     
      
        <div >
          <input type="hidden" name="first_name" value="<%- form_hidden.first_name %> ">
          <input type="hidden" name="last_name" value="<%- form_hidden.last_name %> ">
          <input type="hidden" name="email" value="<%- form_hidden.email %> ">
          <input type="hidden" name="address" value="<%- form_hidden.address %> ">
          <input type="hidden" name="gender" value="<%- form_hidden.gender %> ">
      
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" style="margin-top: 5px;">Sign up</button>
      </form>
    
</div>